<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <h2 style="text-align:center">Welcome to Expense Profile Page:</h2>
    {% load static %}
    <a href="{% url 'index'%}" class="btn btn-primary">BACK</a>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static '/css/bootstrap.min.css' %}">
    <script src='main.js'></script>
</head>
<body>
    <div class="container mt-5">
        <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col">Person</th>
                <th scope="col">Total Income</th>
                <th scope="col">Total Expense</th>
                <th scope="col">Year</th>
                <th scope="col">Month</th>
                <th class="scope">Total Balance</th>
              </tr>
            </thead>
            <tbody>
            {% for val in data %}
              <tr>
                <td>{{ val.person|title }}</td>
                <td>{{ val.net_income }}</td>
                <td>{{ val.net_expense }}</td>
                <td>{{ val.date|date:"Y" }}</td>
                <td>{{ val.date|date:"F" }}</td>
                <td>{{ val.total_balance }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</body>
</html>